<!DOCTYPE html>
<html>
  <head>
    <title>Buscador de tweets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="bodyInicial">
    <br><br>
    <main>
        <div class="containerInicial">
           
            <form action="/busca" method="GET">
            <input name="busca" type="text" class = "txtBusca" id="txtBusca" placeholder="Search" required/></br>
            <button class="btnBusca"><strong>Pesquisar Tweet </strong></button>
            
            </form>
        </div>
    </main>
          
            
     
      
    
  </body>






</html>



